@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: hsl(240, 3%, 16%);
    font-family: 'Roboto';
}

button {
    padding: 15px 30px;
    background-color: #ecedeee3;
    color: hsl(240, 3%, 16%);
    width: 30%;
    margin: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
}

/* Dashboard */

#dashboardMessage {
  color: white; 
  display: grid;
  justify-content: center;
  align-items: center;
}

#dashboardMessage h1 {
margin:auto;
margin-bottom: 5%;
}

#dashboardMessage h2 {
margin:auto;
margin-bottom: 20%;
}

#dashboardMessage h4 {
margin:auto;
margin-bottom: 5%;
}

#emp_button{
border-radius: 8px;
border: none;
box-shadow: 0 0 5px #c1c2c3e3;
cursor: pointer;
}

.mainButtons {
  margin-top: 20%; 
}

.weekEmployeeId {
  display: flex;
  justify-content: center;
  align-items: center;
  margin:auto;
  left: 0;
  right: 0;
}

#survey h3{
    color: white;
    display: grid;
    margin-bottom: -5%;
    justify-content: center;
    align-items: center;
}

#survey {
    margin-top: 8%;
}

#surveyDescription {
  font-size: 18px;
}

#surveySubmitButton {
  position: absolute;
  background-color:#c1c2c3e3;
  color:hsl(240, 84%, 12%);
  border:none;
  width: 15%;
  height: 30px;
  left: 0;
  right: 0;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 2px #f8fbfde3;
}

form {
  font-family: 'Roboto'; 
  background-color: #fefefeeb;
  font-size:16px;
  /* display: grid; */
  justify-content: center;
  align-items: center;
  margin:auto;
  margin-top:7%;
  width: 40%;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 0 10px #f8fbfdb4;
}

#employeeId{
  /* display:flex; */
  width: max-content;
  display:flex;
  align-items: space-around;
  /* margin-right: 0%; */
  margin-left: 0%;
  /* margin:auto; */
  /* justify-content: center; */
}

.week{
  margin: auto;
  margin-right: 0%;
}

#confirmEmployer {
  color: white;
  background-color: #313232e3;
  border: solid;
  border-color: rgb(243, 239, 239); 
  width: 500px;
  border-radius: 50px;
  margin:20% auto;
  text-align: center;
  padding-bottom: 20px;
  box-shadow: 0 0 5px #f8fbfdc3;

}

#confirmSubmit{
  position:absolute;
  left: 0;
  right: 0;
  padding: 0 10 -3 10 ;
  margin-top:40px;
  height: 40px;
  width: 80px;
  text-align:center;
  text-decoration: none;
  border-radius: 20px;
}
